.features {
  padding: 0 50px;
  margin-top: 60px;
}
.feature {
  padding: 10px;
}

.feature h4 {
  flex-basis: 40%;
  font-size: 1.7rem;
  font-weight: 700;
  /* letter-spacing: 2px; */
  color: var(--main);
  text-align: justify;
}

.reverse {
  order: 2;
}
.feature img {
  width: 40%;
}

@media screen and (max-width: 1024px) {
  .feature img {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .feature {
    flex-direction: column;
  }

  /* Overrides the image from being order 2 and becomes order 2 */
  .reverseImg {
    order: 2;
  }

  .feature img {
    width: 65%;
  }
}

@media screen and (max-width: 425px) {
  .feature h4 {
    font-size: 1.2rem;
  }

  .feature img {
    width: 120%;
  }
}
