.testimonial {
  margin-left: 25px;
  padding: 20px;
  width: 400px;
  /* height: 300px; */
  border-radius: 20px;
  background-color: rgb(119, 23, 103);
  box-shadow: 2px 2px 7px 1px rgb(196, 168, 168);
}

.title {
  text-align: center;
  font-size: 1.4rem;
  margin-top: 70px;
  color: rgb(119, 23, 103);
}

.name {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name h5 {
  font-size: 1.2rem;
}

.name img {
  width: 60px;
}

.comment {
  text-align: justify;
}

@media screen and (max-width: 1024px) {
  .testimonial {
    width: 300px;
  }
}

@media screen and (max-width: 1024px) {
  .testimonial {
    margin-left: 0;
  }
}
